html {
box-sizing: border-box;
background: #ffc600;
font-family: 'helvetica neue';
font-size: 20px;
font-weight: 200;
}

body {
  margin: 0;
}

*, *:before, *:after { /*instead of comma, there was a period after before.*/
  box-sizing: inherit;
}

h1 {
  margin-top: 0;
}

.site-wrap {
  max-width: 700px;
  margin: 100px auto;
  background: white;
  padding: 40px;
  text-align: justify;
}

.align-left {
  float: left;
  margin-right: 20px;
}

.align-right { /*.align is needed - had align-right, no period was put in beginning*/
  float: right;
  margin-left: 20px;
}

.slide-in { /*.slide is needed - had slide-in, no period was put in beginning*/
  opacity: 0;
  transition: all .5s;
}

.align-left.slide-in {
  transform: translateX(-30%) scale(0.95); /*translateX vs traslateX*/
}

.align-right.slide-in {
  transform: translateX(30%) scale(0.95);
}

.slide-in.active { /*period between in.active had in-active*/
  opacity: 1;
  transform: translateX(0%) scale(1);
}